*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
button,
input {
  font-family: "Courier New", Courier, monospace;
}
.App {
  text-align: center;
  width: 80%;
  margin: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 20px 0;
}

.posts-container {
  padding: 10px;
  border: solid black 1px;
  border-radius: 5px;
}
.add-post-form {
  background-color: #888;
  padding: 20px 0;
  margin: 20px 0 40px;
}
.form-header {
  color: #fff;
  font-size: calc(10px + 2vmin);
  text-decoration: underline;
  margin: 0 0 20px;
}

input,
button {
  display: inline-block;
  margin: 0 5px;
  width: 200px;
  padding: 10px;
}

button {
  cursor: pointer;
}

.posts {
  border: solid #888 1px;
  padding: 5px;
}

.posts-header {
  margin: 20px 0;
  color: red;
  font-size: calc(10px + 3vmin);
  text-decoration: underline;
  margin-bottom: 20px;
}

.post {
  background-color: #b6b6b6;
  padding: 20px 5px;
  border: solid #888 1px;
  margin-bottom: 20px;
}

.post-title {
  color: #000;
  font-size: calc(10px + 2vmin);
  text-decoration: underline;
  margin-bottom: 20px;
}

.post-buttons {
  margin: 40px auto 0;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.post-buttons button {
  width: 150px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.edit-form {
  margin-top: 20px;
}
